







* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
}

/* CUSTOM FEED */

.chat-title-container {
  width: calc(100% - 36px);
  text-align: center;
  height: 80vh;
  align-self: center;
}


.title-signout{
  color: #7554a0;
  font-weight: 800;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: flex-end;

}


.title-signout p {
  margin-left: -150%;
  margin-right: 100%;
  color: #7554a0
}



.chat-subtitle {
  color: #7554a0;
  font-weight: 600;
  font-size: 14px;
  padding-top: 4px;
}





.nav {
  display: flex;
  flex-direction: row;
  padding-bottom: 1%;
  justify-content: space-evenly;

  }

  .nav a {
    color: white;
  }



.container {
  display: flex;
  flex-direction: row;
  align-self: center;
  background: rgba(35, 33, 33, 0.3); 
  opacity: 100%;
  text-align: center;
  color: rgb(7, 7, 7);
  height: 91%;

}

.msgBox {
  background: chartreuse;
  width: 50%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.msgCont {
  background: lightblue;
  height: 94%;
  width: 100%;
  
}
.msgCont p {
  margin-left: 20;
}

.roomBox {
  background: chocolate;
  width: 25%;
  padding: 1%;
}
.roomCont{
  background: lightblue;
  height: 94%;
 }

.friendBox{
  background: rgb(180, 51, 152);
  width: 25%;
  padding: 1%;
  
}
.friendCont {
  background: lightblue;
  height: 94%;
}

html, body {
  height: 100vh;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
}