.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 1%;
}

.nav a {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  align-self: center;
  background: rgba(35, 33, 33, 0.3); 
  opacity: 100%;
  text-align: center;
  color: rgb(7, 7, 7);
  height: 91%;

}

.msgBox {
  background: chartreuse;
  width: 50%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.msgCont {
  background: lightblue;
  height: 94%;
  width: 100%;
  
}
.msgCont p {
  margin-left: 20;
}

.roomBox {
  background: chocolate;
  width: 25%;
  padding: 1%;
}
.roomCont{
  background: lightblue;
  height: 94%;
 }

.friendBox{
  background: rgb(180, 51, 152);
  width: 25%;
  padding: 1%;
  
}
.friendCont {
  background: lightblue;
  height: 94%;
}

html, body {
  height: 100vh;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
}